	*{margin: 0;padding: 0;}
	
	html,body{		width: 100%;
					height: 100%;
					background: url(../images/sight.png) 0 -40px no-repeat fixed;
					background-size: 100% 120%;
					}
		.wrap{	width: 100%;
				height: 100%;
				position: relative;}
		.head{	width: 100%;
				height: 187px;
				/*background: yellow;*/
				/*opacity: 0.3;*/
				display: -webkit-box;
				position: relative;}
		.head1{	width: 215px;
				height: 110px;
				position: absolute;
				top: 10px;
				right: 30px;}
		.head1_1{font-size: 48px;
				color: white;
				text-align: right;}
		.head1_2{	color: white;}
		.head1_2 span{margin: 0px 0px 0 0;}
		.head1_2 em{font-style:normal;
					word-spacing: 80px;}
		.head1_3 a{text-decoration: none;
					color: #898989;
					margin: 0 -1px 0 0;}

		.content{	width: 859px;
					/*height: 55%;*/
					position: relative;
					display: -webkit-box;
					margin: auto;}
		.content1{	position: absolute;
					display: -webkit-box;
					top: -15%;
					left: 13%;
					height: 67px;
					font-size: 30px;
					color: white;
					font-weight: bold;}
		.content1 div:nth-child(2){margin: 17px 0 0 0;}
		.left{width: 454px;}
		.left div img{opacity: 0.7;}
		.left div img:nth-child(1){margin: 0 13px 0 0;}
		.right{	width: 404px;}
		.right div img{opacity: 0.7;}
		.footer{width: 500px;
				font-size: 12px;
				/*position: absolute;*/
				margin: auto;
				/*bottom: 10px;*/
				/*left:35% ;*/}
		@media screen and (max-width: 640px){
			.head1{}
			.content{	width: 90%;
						display: block;
						}
			.content1{	top: -13%;
						left:5%;
						font-size: 20px;}

			.left {	width: 70%;}
			.left{margin:0 0 0 10%;}
			.left div img:nth-child(1){	width: 63%;
										margin: 0 0px 0 0;}
			.left div img:nth-child(2){	width: 37%;
										margin: 0 0px 0 0;}					
			.right{margin:0 0 0 10%;
					width: 70%;}
			.right div img:nth-child(1){	width: 40%;
											margin: 0 0px 0 0;}
			.right div img:nth-child(2){	width: 60%;
											margin: 0 0px 0 0;}
			.footer{	width:90%;
						font-size: 12px;
							margin: 5% auto 0;}
		}

		
	