/*=====
    @Date:2016-08-17
    @content:金秋送福袋
	@author:林聪毅
 =====*/
.zt-wrap{width:100%; background:#fff; overflow: hidden;}
.zt-con { width:968px; margin:0 auto; position:relative; }
.zt-con a{ position:absolute;display:block;}
.mid-autumn-01{height:292px; background:url(../images/mid-autumn-01.jpg) top center no-repeat;}
.mid-autumn-02{height:292px; background:url(../images/mid-autumn-02.jpg) top center no-repeat;}
.mid-autumn-03{height:292px; background:url(../images/mid-autumn-03.jpg) top center no-repeat;}
.mid-autumn-04{height:508px; background:url(../images/mid-autumn-04.jpg) top center no-repeat;}
.mid-autumn-05{height:240px; background:url(../images/mid-autumn-05.jpg) top center no-repeat;}
.mid-autumn-06{height:485px; background:url(../images/mid-autumn-06.jpg) top center no-repeat;}
.mid-autumn-07{height:426px; background:url(../images/mid-autumn-07.jpg) top center no-repeat;}
.mid-autumn-08{height:231px; background:url(../images/mid-autumn-08.jpg) top center no-repeat;}
.mid-autumn-09{height:954px; background:url(../images/mid-autumn-09.jpg) top center no-repeat;}
.mid-autumn-10{height:243px; background:url(../images/mid-autumn-10.jpg) top center no-repeat;}

.mid-autumn-11{height:372px; background:url(../images/mid-autumn-11.jpg) top center no-repeat;}
.mid-autumn-12{height:396px; background:url(../images/mid-autumn-12.jpg) top center no-repeat;}
.mid-autumn-13{height:465px; background:url(../images/mid-autumn-13.jpg) top center no-repeat;}
.mid-autumn-14{height:294px; background:url(../images/mid-autumn-14.jpg) top center no-repeat;}
.mid-autumn-15{height:294px; background:url(../images/mid-autumn-15.jpg) top center no-repeat;}

.mid-autumn-04 a{ width: 244px; height: 114px;}
.mid-autumn-04 .a1{left: 5px; top: 35px;}
.mid-autumn-04 .a2{left: 368px; top: 35px;}
.mid-autumn-04 .a3{left: 731px; top: 35px;}
.mid-autumn-04 .a4{left: 5px; top: 190px;}
.mid-autumn-04 .a5{left: 368px; top: 190px;}
.mid-autumn-04 .a6{left: 731px; top: 190px;}
.mid-autumn-04 .a7{left: 5px; top: 339px;}
.mid-autumn-04 .a8{left: 368px; top: 339px;}
.mid-autumn-04 .a9{left: 731px; top: 339px;}
.cp a{z-index: 3; display: -none;}
.cp a.off{opacity: 0; filter:alpha(opacity=0);transition: all 1s ;-webkit-transition: all 1s;}
.cp img{display: none; position: absolute; z-index: 2;}
.cp img.active{display: block;}
.mid-autumn-06 a{width: 297px; height: 350px; top: 20px; background: url(../images/gift-bag_big.png) no-repeat;}
.mid-autumn-06 .a1{left: -40px;}
.mid-autumn-06 .a2{left: 340px;}
.mid-autumn-06 .a3{left: 720px;}
.mid-autumn-06 a span{display: block; position: absolute; left: 70px; top: 100px;}
.mid-autumn-06 .a1 span{width: 137px; height: 126px; background: url(../images/cpInfo-01.png) no-repeat;}
.mid-autumn-06 .a2 span{width: 133px; height: 118px; background: url(../images/cpInfo-02.png) no-repeat;}
.mid-autumn-06 .a3 span{width: 133px; height: 118px; background: url(../images/cpInfo-03.png) no-repeat;}
.mid-autumn-06 .cp-01 img{left: -40px; top: 50px;}
.mid-autumn-06 .cp-02 img{left: 340px; top: 50px;}
.mid-autumn-06 .cp-03 img{left: 710px; top: 30px;}

.mid-autumn-07 a{width: 246px; height: 229px; top: 20px; background: url(../images/gift-bag_mid.png) no-repeat;}
.mid-autumn-07 .a1{left: -110px;}
.mid-autumn-07 .a2{left: 200px;}
.mid-autumn-07 .a3{left: 520px;}
.mid-autumn-07 .a4{left: 850px;}
.mid-autumn-07 a span{display: block; position: absolute; left: 54px; top: 82px;}
.mid-autumn-07 .a1 span{width: 123px; height: 107px; background: url(../images/cpInfo-04.png) no-repeat;}
.mid-autumn-07 .a2 span{width: 123px; height: 107px; background: url(../images/cpInfo-05.png) no-repeat;}
.mid-autumn-07 .a3 span{width: 127px; height: 110px; background: url(../images/cpInfo-06.png) no-repeat;}
.mid-autumn-07 .a4 span{width: 124px; height: 107px; background: url(../images/cpInfo-07.png) no-repeat;} 
.mid-autumn-07 .cp-04 img{left: -120px; top: 50px;}
.mid-autumn-07 .cp-05 img{left: 180px; top: 80px;}
.mid-autumn-07 .cp-06 img{left: 520px; top: 40px;}
.mid-autumn-07 .cp-07 img{left: 870px; top: 40px;}

.mid-autumn-09 .cpAni_wrap{}
.cpAni_wrap div{}
.cpwrap_mid img{display: none;}
.cpwrap_mid .gift_bag_sm.off{opacity: 0; filter:alpha(opacity=0);transition: all 1s ;-webkit-transition: all 1s;}
.cpwrap_mid img.active{display: block;}
.cpAni_wrap .border_ani{border-right: 138px solid transparent; border-left: 138px solid transparent; transition: all 2s ;-webkit-transition: all 2s;}
.cpAni_wrap.active .border_ani{border-color: #bc1e1e; border-right: 138px solid transparent; border-left: 138px solid transparent;}
.cpAni_wrap .bg_ani{width: 276px; height: 180px; transition: all 2s ;-webkit-transition: all 2s;}
.cpAni_wrap.active .bg_ani{background-color: #bc1e1e;}
.cpAni_wrap .cpwrap_top{width: 0; height: 0;border-bottom: 80px solid #f1ff92; border-left: 138px solid transparent;}
.cpAni_wrap .cpwrap_mid{background-color: #f1ff92; position: relative;}
.cpAni_wrap .cpwrap_bot{width: 0; height: 0;border-top: 80px solid #f1ff92;}
.cpAni_wrap .gift_bag_sm{width: 211px; height: 231px; background: url(../images/gift-bag_sm.png) no-repeat; position: absolute; left: 40px; top: -30px;}
.cpAni_wrap .cpAniTitle{width: 276px; height: 136px;}
.cpAni-01{left: 78px; top: 0px;}
.cpAni-01 span{width: 100px; height: 81px; display: block; background: url(../images/cpAniInfo-01.png) no-repeat; position: absolute; left: 48px; top: 66px;}
.cpAni-01 img{position: absolute; left: 10px; top: -20px;}
.cpAni_wrap .cpAniTitle-01{background: url(../images/cpAniTitle-01.png) no-repeat; position: absolute; left: 2px; bottom: -4px;}
.cpAni-02{left: 356px; top: 0px;}
.cpAni-02 span{width: 100px; height: 81px; display: block; background: url(../images/cpAniInfo-02.png) no-repeat; position: absolute; left: 48px; top: 66px;}
.cpAni-02 img{position: absolute; left: 10px; top: 0px;}
.cpAni_wrap .cpAniTitle-02{background: url(../images/cpAniTitle-02.png) no-repeat; position: absolute; left: 2px; bottom: -4px;}
.cpAni-03{left: 634px; top: 0px;}
.cpAni-03 span{width: 100px; height: 81px; display: block; background: url(../images/cpAniInfo-03.png) no-repeat; position: absolute; left: 48px; top: 66px;}
.cpAni-03 img{position: absolute; left: 70px; top: -60px;}
.cpAni_wrap .cpAniTitle-03{background: url(../images/cpAniTitle-03.png) no-repeat; position: absolute; left: 2px; bottom: -4px;}
.cpAni-04{left: -62px; top: 262px;}
.cpAni-04 span{width: 105px; height: 83px; display: block; background: url(../images/cpAniInfo-04.png) no-repeat; position: absolute; left: 48px; top: 66px;}
.cpAni-04 img{position: absolute; left: 30px; top: -30px;}
.cpAni_wrap .cpAniTitle-04{background: url(../images/cpAniTitle-04.png) no-repeat; position: absolute; left: -2px; bottom: -3px;}
.cpAni-05{left: 217px; top: 262px;}
.cpAni-05 span{width: 99px; height: 83px; display: block; background: url(../images/cpAniInfo-05.png) no-repeat; position: absolute; left: 48px; top: 66px;}
.cpAni-05 img{position: absolute; left: 30px; top: -30px;}
.cpAni_wrap .cpAniTitle-05{background: url(../images/cpAniTitle-05.png) no-repeat; position: absolute; left: 6px; bottom: -6px;}
.cpAni-06{left: 495px; top: 262px;}
.cpAni-06 span{width: 106px; height: 83px; display: block; background: url(../images/cpAniInfo-06.png) no-repeat; position: absolute; left: 48px; top: 66px;}
.cpAni-06 img{position: absolute; left: 40px; top: -30px;}
.cpAni_wrap .cpAniTitle-06{background: url(../images/cpAniTitle-06.png) no-repeat; position: absolute; left: 5px; bottom: -6px;}
.cpAni-07{left: 773px; top: 262px;}
.cpAni-07 span{width: 104px; height: 83px; display: block; background: url(../images/cpAniInfo-07.png) no-repeat; position: absolute; left: 48px; top: 66px;}
.cpAni-07 img{position: absolute; left: 20px; top: -10px;}
.cpAni_wrap .cpAniTitle-07{background: url(../images/cpAniTitle-07.png) no-repeat; position: absolute; left: 5px; bottom: -6px;}
.cpAni-08{left: 78px; top: 524px;}
.cpAni-08 span{width: 98px; height: 82px; display: block; background: url(../images/cpAniInfo-08.png) no-repeat; position: absolute; left: 48px; top: 66px;}
.cpAni-08 img{position: absolute; left: 60px; top: -20px;}
.cpAni_wrap .cpAniTitle-08{background: url(../images/cpAniTitle-08.png) no-repeat; position: absolute; left: 6px; bottom: -9px;}
.cpAni-09{left: 356px; top: 524px;}
.cpAni-09 span{width: 101px; height: 82px; display: block; background: url(../images/cpAniInfo-09.png) no-repeat; position: absolute; left: 48px; top: 66px;}
.cpAni-09 img{position: absolute; left: -8px; top: -20px;}
.cpAni_wrap .cpAniTitle-09{background: url(../images/cpAniTitle-09.png) no-repeat; position: absolute; left: 5px; bottom: -8px;}
.cpAni-10{left: 634px; top: 524px;}
.cpAni-10 span{width: 98px; height: 82px; display: block; background: url(../images/cpAniInfo-10.png) no-repeat; position: absolute; left: 48px; top: 66px;}
.cpAni-10 img{position: absolute; left: 50px; top: -30px;}
.cpAni_wrap .cpAniTitle-10{background: url(../images/cpAniTitle-10.png) no-repeat; position: absolute; left: 9px; bottom: -8px;}


.mid-autumn-11 a{width: 211px; height: 231px; top: 0px; background: url(../images/gift-bag_sm.png) no-repeat;}
.mid-autumn-11 .a1{left: -120px;}
.mid-autumn-11 .a2{left: 130px;}
.mid-autumn-11 .a3{left: 380px;}
.mid-autumn-11 .a4{left: 630px;}
.mid-autumn-11 .a5{left: 880px;}
.mid-autumn-11 a span{display: block; position: absolute; top: 78px;}
.mid-autumn-11 .a1 span{width: 140px; height: 88px; background: url(../images/cpInfo-08.png) no-repeat; left: 24px;}
.mid-autumn-11 .a2 span{width: 106px; height: 88px; background: url(../images/cpInfo-09.png) no-repeat; left: 44px;}
.mid-autumn-11 .a3 span{width: 104px; height: 88px; background: url(../images/cpInfo-10.png) no-repeat; left: 44px;}
.mid-autumn-11 .a4 span{width: 144px; height: 88px; background: url(../images/cpInfo-11.png) no-repeat; left: 24px;}
.mid-autumn-11 .a5 span{width: 137px; height: 88px; background: url(../images/cpInfo-12.png) no-repeat; left: 24px;}
.mid-autumn-11 .cp-08 img{left: -120px; top: 20px;}
.mid-autumn-11 .cp-09 img{left: 130px; top: 40px;}
.mid-autumn-11 .cp-10 img{left: 370px; top: 50px;}
.mid-autumn-11 .cp-11 img{left: 630px; top: 50px;}
.mid-autumn-11 .cp-12 img{left: 870px; top: 40px;}
.mid-autumn-12 a{width: 211px; height: 231px; top: 40px; background: url(../images/gift-bag_sm.png) no-repeat;}
.mid-autumn-12 .a1{left: -120px;}
.mid-autumn-12 .a2{left: 130px;}
.mid-autumn-12 .a3{left: 380px;}
.mid-autumn-12 .a4{left: 630px;}
.mid-autumn-12 .a5{left: 880px;}
.mid-autumn-12 a span{display: block; position: absolute; top: 78px;}
.mid-autumn-12 .a1 span{width: 147px; height: 88px; background: url(../images/cpInfo-13.png) no-repeat; left: 24px;}
.mid-autumn-12 .a2 span{width: 136px; height: 88px; background: url(../images/cpInfo-14.png) no-repeat; left: 30px;}
.mid-autumn-12 .a3 span{width: 137px; height: 88px; background: url(../images/cpInfo-15.png) no-repeat; left: 30px;}
.mid-autumn-12 .a4 span{width: 140px; height: 88px; background: url(../images/cpInfo-16.png) no-repeat; left: 30px;}
.mid-autumn-12 .a5 span{width: 98px; height: 88px; background: url(../images/cpInfo-17.png) no-repeat; left: 50px;}
.mid-autumn-12 .cp-13 img{left: -120px; top: 70px;}
.mid-autumn-12 .cp-14 img{left: 120px; top: 90px;}
.mid-autumn-12 .cp-15 img{left: 370px; top: 100px;}
.mid-autumn-12 .cp-16 img{left: 630px; top: 60px;}
.mid-autumn-12 .cp-17 img{left: 870px; top: 50px;}
.mid-autumn-13 a{width: 211px; height: 231px; top: 40px; background: url(../images/gift-bag_sm.png) no-repeat;}
.mid-autumn-13 .a1{left: -120px;}
.mid-autumn-13 .a2{left: 130px;}
.mid-autumn-13 .a3{left: 380px;}
.mid-autumn-13 .a4{left: 630px;}
.mid-autumn-13 .a5{left: 880px;}
.mid-autumn-13 a span{display: block; position: absolute; top: 78px;}
.mid-autumn-13 .a1 span{width: 103px; height: 89px; background: url(../images/cpInfo-18.png) no-repeat; left: 44px;}
.mid-autumn-13 .a2 span{width: 103px; height: 89px; background: url(../images/cpInfo-19.png) no-repeat; left: 44px;}
.mid-autumn-13 .a3 span{width: 103px; height: 89px; background: url(../images/cpInfo-20.png) no-repeat; left: 44px;}
.mid-autumn-13 .a4 span{width: 138px; height: 89px; background: url(../images/cpInfo-21.png) no-repeat; left: 34px;}
.mid-autumn-13 .a5 span{width: 100px; height: 89px; background: url(../images/cpInfo-22.png) no-repeat; left: 50px;}
.mid-autumn-13 .cp-18 img{left: -100px; top: 50px;}
.mid-autumn-13 .cp-19 img{left: 130px; top: 90px;}
.mid-autumn-13 .cp-20 img{left: 380px; top: 90px;}
.mid-autumn-13 .cp-21 img{left: 630px; top: 100px;}
.mid-autumn-13 .cp-22 img{left: 890px; top: 60px;}