/* 鏍峰紡閲嶇疆 鐩栫綉 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend{margin:0;padding:0;border:0;outline:0;font-size:100%;background:transparent}
table,caption,tbody,tfoot,thead,tr,th{margin:0;padding:0;border:0;outline:0;font-size:100%;}
body{line-height:1;}
ol,ul,li{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}
ins{text-decoration:none}
del{text-decoration:line-through}
table{border-collapse:collapse;border-spacing:0}
a{cursor:pointer;}
/* 鍗曠嫭鐨勬竻闄ゅ厓绱�*/
.clear {clear: both;display: block;overflow: hidden;visibility: hidden;width: 0;height: 0;}

/* 褰撲竴涓閮ㄥ厓绱犲唴閮ㄦ湁娴姩鍏冪礌鏃讹紝澶栭儴鍏冪礌濡傞渶娓呴櫎娴姩锛岀敤濡備笅鐨勬竻闄ゆ牱寮� */
.clearfix:after {clear: both; content: '.';display: block;visibility: hidden;height: 0;}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
*+html .clearfix{min-height:1%;}

/*鎺у埗鍏冪礌鐨勬诞鍔ㄧ姸鎬�*/
.left{ float:left;}
.right{ float:right;}

/*琛ョ櫧*/
.k5{ width:1200px; height:5px;}
.k10{width:100%; height:10px; _height:10px;clear: both;}
.k15{width:100%; height:15px; _height:15px;clear: both;}
.k25{width:100%; height:25px; _height:20px;clear: both;}
.mgtop20{margin-top:20px;}

/* text */
body,input,select,textarea{ color:#666; font-family:'瀹嬩綋',arial; font-size:12px; margin:0; padding:0;}
input,textarea{vertical-align:middle; border:0 none;}
a:focus{outline:1px dotted invert}
hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:0}
h1{font-size:20px}
h2{font-size:16px}
h3{font-size:14px}
h4,h5,h6{font-size:12px}
a{color:#000; text-decoration:none;}
a:hover{color:#f60; text-decoration:none;}
.red{color:#c83253;}
p.red{color:#c83253;}
.gray{color:#999;}
a.org{ color:#FF8000}
/* 鍥剧墖鍨傜洿灞呬腑 --*/
a.img_m:link ,a.img_m:visited{ display:table-cell;vertical-align:middle;*display: block;	*font-family:Arial, Helvetica, sans-serif;	overflow:hidden;clear:both;}
a.img_m img{text-align:center;display:inline-block;	margin:0 auto; }
/*瀹氫箟鍥剧墖鐨勫昂瀵�*/
a.w160x190{width:160px;height:190px;_font-size:190px;*+font-size:190px;margin:0 auto;}
a.w170x170{width:170px;height:170px;_font-size:170px;*+font-size:160px;margin:0 auto;}
a.w160x160{ display:inline-block;width:160px;height:160px;_font-size:160px;*+font-size:150px;text-align:center;margin:0 auto;}
a.w60x60{  width:60px; height:60px;	_font-size:40px; *+font-size:40px; margin:0 auto;}
a.w135x135{width:135px;height:135px;_font-size:135px;*+font-size:120px;margin:0 auto;}
a.w90x90{display:block;width:90px;height:90px;_font-size:90px;*+font-size:75px;margin:0 auto;text-align:center;}
a.w135x90{display:block;width:135px;height:90px;_font-size:90px;*+font-size:75px;margin:0 auto; text-align:center; overflow:hidden}

a.w95x30{  width:95px; height:30px; _font-size:20px; *+font-size:30px; margin:0 auto;}
/* 鍟嗗搧鏍囬 鎸夐挳
.add-sub{ background:url(../images/add-sub.gif) no-repeat; width:100px; height:31px; display:block; border:0; font:12px/24px "瀹嬩綋"; color:#FFF; padding-left:33px;}
.add-sub:hover{ color:#FFF} */
p.names{ height:23px; line-height:23px; padding-top:5px; overflow:hidden;}
p.names a{ color:#000}
p.namestl{ height:42px; line-height:21px; overflow:hidden;}
p.namestl a{color:#333}
p.integral{height:22px; line-height:22px;  overflow:hidden;}
p.integral .jf{ color:#c83253; font: bold 13px/20px Arial, Helvetica, sans-serif}
p.returnIntegral {height:22px; color: #999;}
p.price{ height: 20px; color: #8F8F8F; }
p.price .del{color:#c83253; font: bold 13px/20px Arial, Helvetica, sans-serif; margin-right:5px; text-decoration:line-through;}
p.ico_j{ width:500px; margin:15px auto; display:none;}

input.button_red1{ background:#c83253;border-radius:3px; color:#fff;padding:5px; text-align:center;}